/* You can add global styles to this file, and also import other style files */

body {
    background: url("assets/img/backgrounds/1.jpg");
    font-size: 50px;
    text-align: center;
    color: white;
}